@import "tipografia";
@import "estructura";
@import "colores";

/*       HEADER        */
.navbar-dark .navbar-nav .nav-link {
    color: $fuente_primario;
}

/*          FOOTER           */
.imganimate {
    width: 100%;
    transition: all .3s;   
    position: relative;
    &:hover {
    transform: scale(1.10);
    z-index: 2;
    box-shadow: 0px 0px 30px 20px $fondo_primario;
    }
    }

    /*          INDEX           */
.indexTitulo {
    color: $fuente_secundario;
    font-size: 2rem;
}

    /*          TRABAJOS           */
.fondoSecundario {
    background-color: $fondo_secundario;
}