@import "tipografia";
@import "estructura";
@import "colores";


/*       HEADER        */
.navbar-dark .navbar-nav .nav-link {
    color: $fuente_primario;
}

/*          FOOTER           */
.imganimate {
    width: 100%;
    transition: all .3s;   
    position: relative;
    &:hover {
    transform: scale(1.10);
    z-index: 2;
    box-shadow: 0px 0px 30px 20px $fondo_primario;
    }
    }

/*          INDEX           */
.indexTitulo {
    color: $fuente_secundario;
    font-size: 2rem;
}

/*          GALERIA           */
.grid-container{
    grid-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}
img:nth-child(6){
    grid-column: 2/4;
    grid-row: 3/5;
}
.imganimate {
    width: 100%;
    transition: all .3s;   
    position: relative;
    &:hover {
        transform: scale(1.10);
        z-index: 2;
        box-shadow: 0px 0px 30px 20px $fondo_primario;
    }
}



/*          TRABAJOS           */
.fondoSecundario {
    background-color: $fondo_secundario;
}

/*          TIENDA           */

/*MAPA*/
$fontsize:(
    titulos: 2rem,
    subtitulos: 1.5rem,
    texto: 1rem);

@each $fontsize, $pxls in $fontsize {
    .fuente_#{$fontsize} {
        font-size: $pxls;
        font-weight: bold;
    }
}

/*MAP-GET*/
$estilo-remeras: (
    color1: $fuente_remeras,
    color2: $fondo_secundario,
    fuente: "helvetica",
);

.remeras{
    color: map-get($estilo-remeras, color1);
    background-color: map-get($estilo-remeras, color2);
    font-family: map-get($estilo-remeras, fuente );
}

.tienda {
    text-align: justify;
    padding: 0 50px;
}
.precios {
    text-shadow:
    -1px -1px 0 $fondo_primario,  
    1px -1px 0 $fondo_primario,
    -1px 1px 0 $fondo_primario,
    1px 1px 0 $fondo_primario;

    background-image: linear-gradient($fondo_primario, transparent 100%), url(https://static.roundme.com/upload/web/210770.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.medidas {
    margin-left: 50px;
}

/*EXTEND*/
.linkTexto {
    @extend .fuente_texto;
    color: $fuente_primario;
    &:hover{
        color: $contactoClaro;
    }
}

.fuente_titulo2 {
    @extend .fuente_titulos;
    padding-left: 50px;
    font-weight: 100;
}
/*MIXIN*/
@mixin fotolink($width, $pad-top, $mar-left) {
    width: $width;
    padding-top: $pad-top;
    margin-left: $mar-left;
}
.cookie {
    @include fotolink (100px, 20px, 70px);
}


/*           CONTACTO           */

.contacto{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    P {
        margin: 0 50px;
        text-align: justify;
        max-width: 1000px;
    }
}
.contacto__tituloFormulario {
    text-align: center;
}

.form-container{
    background-color: $fondo_secundario;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    .form{
        min-width: 400px;
        flex: 1;
        text-align: center;
        padding: 30px;
    input {
        width: 100%;
        padding: 6px;
        margin: 6px;
        border: none;
        border-bottom: 3px solid $contactoClaro ;
        background: transparent;
        color: #ffff;
        &:focus {
            background: linear-gradient(to bottom, transparent, $fondo_secundario);
            border-bottom: 3px solid $contactoOscuro;
            outline: none;    
            }
    }
    textarea {
        min-height: 150px;
        width: 100%;
        margin: 6px;
        resize: none;    
    }
    input[type="submit"] {
        background-color: $fondo_primario;
        border-bottom: none;
        &:hover {
            background-color: $contactoOscuro;
            border-bottom: none;
        }  
        
    }
}
@media screen and (max-width: 700px) {
    .form-img{
        display: none;
    }
}
}
.form-img {
        flex: 1;
        padding: 10px;
        display: flex;
        min-width: 300px;
        max-width: 400px;    
    img {
        width: 60%; 
        margin: auto; 
    }
    }
/*      Fotos 360       */

.visitavirtual {
    margin-top: 10px;
}

/*     Anatomia 360     */
.anatomia{
    display: flex;
    flex-wrap: wrap;
}
.anato360 {
    width: 100%;
    height: 300px;
}
.modal-content{
    width: 407px;
    padding:0;
}
.modal-header {
    width: 405px;
    background-color: $fondo_secundario;
    padding: 5px;
}
.modal-body {
    width: 405px;
    background-color: $fuente_remeras;
    padding: 0;

}
/* Páginas Object 2vr */
.body360 {
    background-color: $fuente_remeras;
}
.container360 {
    margin: auto;
    font-size: 14px;
}
.modal-footer{
    background-color: $fondo_secundario;
    width: 405px;
    padding: 0;
    padding-right: 5px;
}

.img360 {
    position: relative;
    display: inline-block;
}
.titulo360 {
    position: absolute;
    padding: 4.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: $fuente_remeras;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.493);
    opacity: 0;
        &:hover{
            opacity: 100;
            transition: all 0.2s ease-out;
        }
}
